
.ecp-slider-bar {
  display: inline-block;
  width: 0;
  height: 100%;
  transition: width 0.3s;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.ecp-filled-content {
  background-color: #393839;
  border-left-color: #e5e5e5;
  height: 2.5px;
  width: 100%;
  border-width: 0;
  border-style: solid;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ecp-slider-pointer {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color:#e5e5e5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}