<div id="" class="ecplayer ecp-state-setup" tabindex="0">
  <div class="ecp-aspect"></div>
  <div class="ecp-media"></div>
  <div class="ecp-title">
    <div class="ecp-title-primary">Luis Fonsi - Despacito ft. Daddy Yankee</div>
  </div>
  <div class="ecp-controls">
    <div class="ecp-display"></div>
    <div class="ecp-controlbar">
      <!-- <button class="ecp-button-playback">pause</button>
      <button class="ecp-button-mute">mute</button>
      <span class="ecp-time-elapsed">00:00</span>
      <span class="ecp-time-duration">00:00</span>
      <input class="ecp-volume-slider" type="range" min="0" max="100" step="1" value="0"/>
      <select class="ecp-video-tracks">
        <option value="">Auto</option>
      </select>
      <button class="ecp-button ecp-button-fullscreen">fullscreen</button> -->

      <div class="ecp-left-controls">
        <button class="ecp-button-playback">
          <i class="ecp-icon-playback"></i>
        </button>
        <div class="ecp-volume-slider">
          <button class="ecp-button-mute">
            <i class="ecp-icon-volume-0"></i>
          </button>
          <div class="ecp-slider-bar">
            <div class="ecp-filled-content">
              <div class="ecp-slider-pointer"></div>
            </div>
          </div>
        </div>
        <button class="ecp-button-live">
          <span class="ecp-live-title">Live</span>
        </button>
        <div class="ecp-time-bar">
          <span class="ecp-time-elapsed">00:00</span>
          <span class="ecp-time-duration">00:00</span>
        </div>
      </div>
      
      <div class="ecp-right-controls">
        <button class="ecp-button-settings">
          <i class="ecp-icon-settings"></i>
        </button>
        <ul class="ecp-video-tracks">
          <li class="ecp-resolution">Auto</li>
        </ul>
        <button class="ecp-button-fullscreen">
          <i class="ecp-icon-fullscreen"></i>
        </button>
      </div>
    </div>
  </div>
</div>