<div id="" class="ecplayer ecp-state-setup" tabindex="0">
  <div class="ecp-aspect"></div>
  <div class="ecp-media"></div>
  <div class="ecp-title">
    <div class="ecp-title-primary">Luis Fonsi - Despacito ft. Daddy Yankee</div>
  </div>
  <div class="ecp-controls">
    <div class="ecp-display"></div>
    <div class="ecp-controlbar">
      <button class="ecp-button-playback">pause</button>
      <button class="ecp-button-mute">mute</button>
      <span class="ecp-time-elapsed">00:00</span>
      <span class="ecp-time-duration">00:00</span>
      <input class="ecp-volume-slider" type="range" min="0" max="100" step="1" value="0"/>
      <select class="ecp-video-tracks">
        <option value="">Auto</option>
      </select>
      <button class="ecp-button ecp-button-fullscreen">fullscreen</button>
    </div>
  </div>
</div>