@import './slider/style';
@import '../fonts/ecplayer/icons.css';

$control-bar-height: 36px;

.ecplayer {
  position: relative;
  width: 100%;
  background-color: #000;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }

  &.ecp-is-fullscreen {
    position: fixed;
    height: 100%;
  }
}

.ecp-title {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, #000 0, #000 18%, transparent);
  font-size: 1em;
}

.ecp-title-primary {
  padding: .75em 1.5em;
  min-height: 2.5em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
}

.ecp-controls {

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ecp-media {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
}

.ecp-video {
  width: 100%;
  height: 100%;
}

.ecp-controlbar {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 .5em;
  width: 100%;
  height: 36px;
  background-color: rgba(33, 33, 33, .8);

  button {
    border: none;
    margin: 0;
    padding: 0;
    background: none !important;
    color: white;
    outline: none;
    cursor: pointer;
    height: 100%;
    vertical-align: top;
  }

  [class^="ecp-icon-"], [class*=" ecp-icon-"] {
    &:hover {
      color: #fff;
    }
  }

  .ecp-left-controls {
    float: left;
    height: 100%;
    
    & > * {
      display: inline-block;
      height: 100%;
      vertical-align: top;
    }
    i {
      vertical-align: middle;
    }
    .ecp-time-bar {
      span {
        line-height: $control-bar-height;
        display: none;
      }
    }
  }

  .ecp-right-controls {
    float: right;
    height: 100%;

    i {
      vertical-align: middle;
    }
    .ecp-button-settings {
      transition: transform 300ms;
    }
    .ecp-video-tracks {
      display: none;
      list-style: none;
      padding: 5px;
      margin: 0;
      position: absolute;
      bottom: $control-bar-height;
      width: 100px;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      text-align: center;
      &.shown {
        display: block;
      }
      .ecp-resolution {
        color: #fff;
        &:hover {
          cursor: pointer;
        }
      }
    }

  }
}

.ecp-time-elapsed,
.ecp-time-duration {
  font-size: 14px;
  color: #fff;
}