@import url('https://fonts.googleapis.com/css?family=Roboto');

@import './fonts/ecplayer/icons.css';
@import './VolumeSlider/slider';
@import './VolumeSlider/controlButtons';

$control-bar-height: 36px;

.ecplayer {
  position: relative;
  width: 100%;
  background-color: #000;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }

  &.ecp-is-fullscreen {
    position: fixed;
    height: 100%;
  }
}

.ecp-title {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, #000 0, #000 18%, transparent);
  font-size: 1em;
}

.ecp-title-primary {
  padding: .75em 1.5em;
  min-height: 2.5em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
}

.ecp-controls {

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ecp-media {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
}

.ecp-video {
  width: 100%;
  height: 100%;
}

.ecp-controlbar {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 .5em;
  width: 100%;
  height: 36px;
  background-color: rgba(33, 33, 33, .8);

  button {
    border: none;
    margin: 0;
    padding: 0;
    background: none !important;
    color: white;
    outline: none;
    cursor: pointer;
    height: 100%;
    vertical-align: top;
  }

  [class^="ecp-icon-"], [class*=" ecp-icon-"] {
    vertical-align: middle;
    &:hover {
      color: #fff;
    }
  }
}
.ecp-left-controls {
  float: left;
  height: 100%;
  
  & > * {
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }
}


.ecp-button-live {
  cursor: default !important;
  .ecp-live-title {
    font-weight: 500;
    padding-left:10px;
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      height: 5px;
      width: 5px;
      margin-right: 5px;
      border-radius: 50%;
      background-color: red;
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
    }
  }
}
.ecp-time-bar {
  [class^="ecp-time-"] {
    line-height: $control-bar-height;
    display: none;
  }
}

.ecp-right-controls {
  float: right;
  height: 100%;
}

.ecp-button-settings {
  transition: transform 300ms;
  &.is-shown {
    transform: rotate(90deg);
  }
  &.is-shown + .ecp-video-tracks {
    display: block;
  }
}

.ecp-video-tracks {
  display: none;
  position: absolute;
  right: 0;
  bottom: $control-bar-height;
  margin: 0;
  padding: 0;
  width: 80px;
  background-color: rgba(0, 0, 0, .8);
  list-style: none;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;

  .ecp-resolution {
    padding: 4px 0;
    color: #fff;

    &:hover {
      cursor: pointer;
    }

    &.is-selected {
      background-color: #3d3d3d;
    }
  }
}

.ecp-time-elapsed,
.ecp-time-duration {
  font-size: 14px;
  font-family: 'Roboto';
  color: #fff;
}